/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

#For laravel 9
composer.phar
composer.lock
.DS_Store
Thumbs.db
/phpunit.xml
/.idea